.curved-loop-jacket {
  min-height: 120px;
  height: 120px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-top: 0;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 6rem;
  fill: #ffffff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}
